@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h3> Hi and welcome! </h3>  
<div class="profile-section">
    <img src="/images/Krittapat.jpg" width="200" alt="Krittapat Berg" class="profile-pic" />
    <div class="profile-intro">
        <h4>My name is Quan.</h4>
        <p>
            Born and raised in Thailand with a bachelor degree in English.
            Speak three different languages and raising a trilingual daughter who loves dinosaurs.
        </p>
        <p>
            However, my forth language happens to be a computer language!   
        </p>
            
        <p>
            A software developer; .NET and C# technology.
            I am passionate about software development and I love to learn new things.
            With a curious mind and Spork sense of humor.
        </p>
        <p>
            My goal is: Fullstack developer.   
            I am excited to share my journey with you.
        </p>
        <p>
            Live long and prosper 🖖 
        </p>

    </div>

</div>
 